*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Rubik";
};
html{
    font-size:62.5%;
}
header{
    padding:2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.header .navbar-brand{
    font-size: 2rem;
    color: blue;
}
.header .navigation-wrap .navbar-list{
    display: inline-flex;

   gap: 3.8rem;
   list-style: none;
   font-size: 1rem;

    
}
.nav-link{
    text-decoration: none;
}
.button{
    display: flex;
    list-style: none;
    gap:1rem;
    padding-right: 5rem; 
    
}
.button .black-btn{
    background-color:333740;
    border-radius: 2rem;
    width:7.5rem;
    height:2.5rem;
   color: antiquewhite;
   font-size: 0.75rem;
}
.button .main-btn{ 
    border-radius: 2rem ;
 border-style: none;
    width:7.5rem;
    height:2.5rem;
   color: rgb(34, 33, 31);
   font-size: 0.75rem;
}
.first-banner{
    display:flex;
    justify-content: center;
    transform: translateY(30%);

}
.first-banner .first{
    width:50vw;
    font-size:70px;;
    font-weight:800;
    height:50vw;

}
.first-banner .image-1{
    transform: translateX(-20%);
}
.second-banner{
margin:auto;
width:50%;
transform: translateX(-20%) translateY(-150%);

}

.second-banner .second-1{
    
    font-size: larger;
    margin-bottom: 20px;

}
.second-banner .second-2{
    font-size: larger;
}
.third-banner{
    margin:auto;
    width:30%;
  margin-top: -10%;
}
.third-banner .button-3{
    text-decoration: none;
    border-radius:0.2rem ;
    
       padding: 0.8rem;
       height:2.5rem;
      color: rgb(34, 33, 31);
      font-size: 1.2rem;
   }
.third-banner .button-4{
    text-decoration: none;
    background-color:#333740;
    border-radius: 0.2rem;
   padding: 0.8rem ;
    height:2.5rem;
   color: antiquewhite;
   font-size:1.2rem;
}
.fourth-banner{
    margin-top: 200px;
}
 .fourth-banner-1{
    margin:auto;
    width:20vw;
    transform: translateX(-100%);
}
.image-2{
    transform: translateX(18vw);
}
.fourth-banner-2{
    margin:auto;
    width: 20vw;
transform:   translateX(10vw) translateY(-20vw);
}
.image-3{
    transform: translateX(50vw) translateY(-20vw);
}
.image-4{
    transform: translateX(18vw) translateY(-150%);
}
.fourth-banner-3{
    margin:auto;
    width:20vw;
    transform: translateX(-20vw) translateY(-12vw);
}
.image-5{
    transform: translateX(50vw) translateY(-340%);
}
.fourth-banner-4{
    margin:auto;
    width:20vw;
    transform:translateX(10vw) translateY(-370%);
}
.fifth-banner{
    display: flex;
    justify-content: center;
  
}
.fifth-banner .button-5{
    background: #5E4FFF;
    text-decoration: none;
    padding:20px 20px;
   border: none;
   color: #ffffff;
   font-size: 20px;
   transform: translateX(8vw) translateY(-490%);
   border-radius: 10px;
}
.fifth-banner .button-6{
    color: aliceblue;
    background: #333740;
    padding: 20px 20px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    transform:translateX(10vw) translateY(-490%);
}
 .fifth-banner .space-top-xl{
    transform: translate(-20vw) translateY(-370%);
    font-size: 1rem;
 }

 .sixth-banner .sixth-1{
    font-size:2.5rem;
transform: translateX(10vw) translateY(-15vw);
 }
 .sixth-banner .sixth-2{
    font-size: 1rem;
    padding: 2rem 20rem;
    transform: translateX(-11vw) translateY(-230%);
 }