*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Rubik";
};
html{
    font-size:62.5%;
}
header{
    padding:2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.header .navbar-brand{
    font-size: 2rem;
    color: blue;
}
.header .navigation-wrap .navbar-list{
    display: inline-flex;

   gap: 3.8rem;
   list-style: none;
   font-size: 1rem;

    
}
.nav-link{
    text-decoration: none;
}
.button{
    display: flex;
    list-style: none;
    gap:1rem;
    padding-right: 5rem; 
    
}
.button .black-btn{
    background-color:333740;
    border-radius: 2rem;
    width:7.5rem;
    height:2.5rem;
   color: antiquewhite;
   font-size: 0.75rem;
}
.button .main-btn{ 
    border-radius: 2rem ;
 border-style: none;
    width:7.5rem;
    height:2.5rem;
   color: rgb(34, 33, 31);
   font-size: 0.75rem;
}
.main-tag{
font-size: 4rem;
padding:10rem 25rem;
font-weight:100000;
}
.section-1{
    display:flex;
    align-items: center;
gap:0.5rem;
font-size: medium;
transform: translateX(26%) translateY(-350%); 
font-size: 2rem;

}
.text{
    position: absolute;
    gap:2px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    
    color: #1f70ea;
    transform:translateY(-200%);
    padding: 0rem 25rem;
}
.text-1{
    
    position: absolute;
    gap:2px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    
    color: #1f70ea;
    transform:translateY(-70%);
    padding: 0rem 25rem;

}
.but{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.but .but-1{
    background-color:333740;
    border-radius: 0.2rem;
    width:12rem;
    height:2.5rem;
   color: antiquewhite;
   font-size: 1rem;
   transform: translateY(200%) translateX(-8rem);

}
.but .but-2{
    font-size: 1rem;
   color:rgb(34, 33, 31);
   height:2.5rem;
   width:10rem;
   font-weight: 500;
   transform: translateY(200%) translateX(-5rem);
}



